<app-nav></app-nav>
<app-products-list></app-products-list>

<!-- <input type="text" [(ngModel)]="imgParent" />
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr /> -->

<!-- <form class="my-form" (ngSubmit)="onRegister()" #myForm="ngForm">
  <h1>My account</h1>
  <div
    class="input-group"
    [class.invalid]="inputName.touched && inputName.invalid"
  >
    <label for="nombre">Nombre</label>
    <input
      type="text"
      required
      id="name"
      #inputName="ngModel"
      [(ngModel)]="register.name"
      name="nombre"
    />
  </div>
  <div
    class="input-group"
    [class.invalid]="inputEmail.touched && inputEmail.invalid"
  >
    <label for="email">Email</label>
    <input
      type="email"
      required
      id="email"
      #inputEmail="ngModel"
      [(ngModel)]="register.email"
      name="email"
    />
  </div>
  <div
    class="input-group"
    [class.invalid]="inputPassword.touched && inputPassword.invalid"
  >
    <label for="password">Password</label>
    <input
      type="password"
      required
      id="password"
      #inputPassword="ngModel"
      [(ngModel)]="register.password"
      name="password"
    />
  </div>
  <p
    class="error-message"
    [ngClass]="myForm.touched && myForm.invalid ? 'invalid' : ''"
  >
    ❗ Fields are required. Verify them please.
  </p>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form> -->
